{% extends "layout.html" %}

{% block content %}
  <div>
      <ul>
          <li style="font-size: 30pt">Name: {{ p.piece_name }}</li>
          <li style="font-size: 30pt">Real name: {{ p.piece_real_name }}</li>
          <li style="font-size: 30pt">Collection: {{ p.colle_owner.colle_name }}</li>
      </ul>
      <table cellspacing="1" border="0" cellpadding="1" width="20" class="icons">
        <tr><td style="background:white; font-size:8px; color:green;">SLOT</td></tr>
      </tbody>
      <td bgcolor="#FFFFFF" style="color: #000000;">
<table cellspacing="1" border="0" cellpadding="1" style="border-left:3px solid #00AA00; width: 26px;" class="power">
       <tr>
        <th>Dial</th>
        <th>1</th>
        <th>2</th>
        <th>3</th>
        <th>4</th>
        <th>5</th>
        <th>6</th>
        <th>7</th>
        <th>8</th>
        <th>9</th>
        <th>10</th>
        <th>11</th>
        <th>12</th>
      </tr>
        <tr>
          <td><img src="{{url_for('static', filename='units-m-wing.gif')}}></td>
          <td class="special" title="Special">{{ dmov.dmov_pos1 }}</td>
          <td bgcolor="{{dmov.dmov_cor2}}">{{ dmov.dmov_pos2 }}</td>
          <td bgcolor="{{dmov.dmov_cor3}}">{{ dmov.dmov_pos3 }}</td>
          <td bgcolor="{{dmov.dmov_cor4}}">{{ dmov.dmov_pos4 }}</td>
          <td bgcolor="{{dmov.dmov_cor5}}">{{ dmov.dmov_pos5 }}</td>
          <td bgcolor="{{dmov.dmov_cor6}}">{{ dmov.dmov_pos6 }}</td>
          <td bgcolor="{{dmov.dmov_cor7}}">{{ dmov.dmov_pos7 }}</td>
          <td bgcolor="{{dmov.dmov_cor8}}">{{ dmov.dmov_pos8 }}</td>
          <td bgcolor="{{dmov.dmov_cor9}}">{{ dmov.dmov_pos9 }}</td>
          <td bgcolor="{{dmov.dmov_cor10}}">{{ dmov.dmov_pos10 }}</td>
          <td bgcolor="{{dmov.dmov_cor11}}">{{ dmov.dmov_pos11 }}</td>
          <td bgcolor="{{dmov.dmov_cor12}}">{{ dmov.dmov_pos12 }}</td>
        </tr>
        <tr>
          <td>Attack</td>
          <td bgcolor="{{datk.datk_cor1}}">{{ datk.datk_pos1 }}</td>
          <td bgcolor="{{datk.datk_cor2}}">{{ datk.datk_pos2 }}</td>
          <td bgcolor="{{datk.datk_cor3}}">{{ datk.datk_pos3 }}</td>
          <td bgcolor="{{datk.datk_cor4}}">{{ datk.datk_pos4 }}</td>
          <td bgcolor="{{datk.datk_cor5}}">{{ datk.datk_pos5 }}</td>
          <td bgcolor="{{datk.datk_cor6}}">{{ datk.datk_pos6 }}</td>
          <td bgcolor="{{datk.datk_cor7}}">{{ datk.datk_pos7 }}</td>
          <td bgcolor="{{datk.datk_cor8}}">{{ datk.datk_pos8 }}</td>
          <td bgcolor="{{datk.datk_cor9}}">{{ datk.datk_pos9 }}</td>
          <td bgcolor="{{datk.datk_cor10}}">{{ datk.datk_pos10 }}</td>
          <td bgcolor="{{datk.datk_cor11}}">{{ datk.datk_pos11 }}</td>
          <td bgcolor="{{datk.datk_cor12}}">{{ datk.datk_pos12 }}</td>
        </tr>
        <tr>
          <td>Defense</td>
          <td bgcolor="{{ddef.ddef_cor1}}">{{ ddef.ddef_pos1 }}</td>
          <td bgcolor="{{ddef.ddef_cor2}}">{{ ddef.ddef_pos2 }}</td>
          <td bgcolor="{{ddef.ddef_cor3}}">{{ ddef.ddef_pos3 }}</td>
          <td bgcolor="{{ddef.ddef_cor4}}">{{ ddef.ddef_pos4 }}</td>
          <td bgcolor="{{ddef.ddef_cor5}}">{{ ddef.ddef_pos5 }}</td>
          <td bgcolor="{{ddef.ddef_cor6}}">{{ ddef.ddef_pos6 }}</td>
          <td bgcolor="{{ddef.ddef_cor7}}">{{ ddef.ddef_pos7 }}</td>
          <td bgcolor="{{ddef.ddef_cor8}}">{{ ddef.ddef_pos8 }}</td>
          <td bgcolor="{{ddef.ddef_cor9}}">{{ ddef.ddef_pos9 }}</td>
          <td bgcolor="{{ddef.ddef_cor10}}">{{ ddef.ddef_pos10 }}</td>
          <td bgcolor="{{ddef.ddef_cor11}}">{{ ddef.ddef_pos11 }}</td>
          <td bgcolor="{{ddef.ddef_cor12}}">{{ ddef.ddef_pos12 }}</td>
        </tr>
        <tr>
          <td>Damage</td>
          <td bgcolor="{{ddam.ddam_cor1}}">{{ ddam.ddam_pos1 }}</td>
          <td bgcolor="{{ddam.ddam_cor2}}">{{ ddam.ddam_pos2 }}</td>
          <td bgcolor="{{ddam.ddam_cor3}}">{{ ddam.ddam_pos3 }}</td>
          <td bgcolor="{{ddam.ddam_cor4}}">{{ ddam.ddam_pos4 }}</td>
          <td bgcolor="{{ddam.ddam_cor5}}">{{ ddam.ddam_pos5 }}</td>
          <td bgcolor="{{ddam.ddam_cor6}}">{{ ddam.ddam_pos6 }}</td>
          <td bgcolor="{{ddam.ddam_cor7}}">{{ ddam.ddam_pos7 }}</td>
          <td bgcolor="{{ddam.ddam_cor8}}">{{ ddam.ddam_pos8 }}</td>
          <td bgcolor="{{ddam.ddam_cor9}}">{{ ddam.ddam_pos9 }}</td>
          <td bgcolor="{{ddam.ddam_cor10}}">{{ ddam.ddam_pos10 }}</td>
          <td bgcolor="{{ddam.ddam_cor11}}">{{ ddam.ddam_pos11 }}</td>
          <td bgcolor="{{ddam.ddam_cor12}}">{{ ddam.ddam_pos12 }}</td>
        </tr>
      </table>
  </div>
{% endblock %}
